@model ManagementApartments.Data.Models.Room

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomStyle" class="control-label"></label>
                <input asp-for="RoomStyle" class="form-control" />
                <span asp-validation-for="RoomStyle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <input asp-for="ApartmentId" style="display:none" value="@ViewBag.ApartmentId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<a class="btn btn-primary mt-5 mb-1" href="@Url.Action("Create","Equipments",new {roomId = Model.Id })">Add equipment</a>

<table id="equipmentsTable" class="display" data-room-id="@Model.Id" data-request-url="@Url.Action("GetList", "Equipments")">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
</table>

<div>
    <a class="btn btn-primary" href="@Url.Action("Edit","Apartments",new { Id = ViewBag.ApartmentId})">Back to Apartments</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Rooms/RoomsEditController.js"></script>
}
