@using ManagementApartments.Data.Models;
@model ManagementApartments.Data.Models.Apartment

    <div class="row pb-2 pt-2" style="border-bottom:1px solid black;">
        <div class="col-sm-3">
            @if (string.IsNullOrEmpty(Model.ImageContent))
            {
                <span>No image</span>
            }
            else
            {
                <img id="imgLogo" class="full-height float-right @(string.IsNullOrEmpty(Model.ImageContent) ? "hidden" : string.Empty)" style="max-height: 175px" src="@(string.IsNullOrEmpty(Model.ImageContent) ? string.Empty : "data:image/jpg;base64," + Model.ImageContent)" />
            }
        </div>
        <div class="col-sm-6">
            <div class="h2">@Model.Name</div>
            <div>@Model.Description</div>
            <div class="mt-1"><a href="@Url.Action("Edit","Apartments",new { id = Model.Id})" class="btn btn-primary">Edit</a> <a href="@Url.Action("Delete","Apartments",new { id = Model.Id})" class="btn btn-danger">Delete</a></div>
        </div>
    </div>
