@model ManagementApartments.Data.Models.Apartment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Apartment</h4>
<a class="btn btn-primary" href="@Url.Action("Index","RentPeriods",new {apartmentId = Model.Id })">Rent Periods</a>
<a class="btn btn-primary" href="@Url.Action("Index","ApartmentSpendings",new {apartmentId = Model.Id })">Apartment Spending</a>
<a class="btn btn-primary" href="@Url.Action("Index","Utilities",new {apartmentId = Model.Id })">Utilities</a>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApartmentPrice" class="control-label"></label>
                <input asp-for="ApartmentPrice" class="form-control" />
                <span asp-validation-for="ApartmentPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentPrice" class="control-label"></label>
                <input asp-for="RentPrice" class="form-control" />
                <span asp-validation-for="RentPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<hr />

<div class="row mt-5">
    <div class="col-sm-12">
        <div class="input-group">
            <div class="input-group-btn">
                <label id="lblInputUpdloadLogo" for="inputUpdloadLogo" class="btn btn-outline-success" tabindex="0">Select Image</label>
                <input id="inputUpdloadLogo" type="file" class="" style="display:none;" />
            </div>
            <input id="inputSelectedLogo" class="form-control full-width" type="text" data-request-url="@Url.Action("SaveImage", "Apartments")" disabled />
            <div class="input-group-btn">
                <label id="lblBtnDeleteLogo" class="btn btn-outline-danger" style="margin-left:5px;" data-request-url="@Url.Action("DeleteLogo", "MaintWarehouseMaster")">Delete Image</label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <img id="imgLogo" class="full-height @(string.IsNullOrEmpty(Model.ImageContent) ? "hidden" : string.Empty)" style="max-height: 265px" src="@(string.IsNullOrEmpty(Model.ImageContent) ? string.Empty : "data:image/jpg;base64," + Model.ImageContent)" />
    </div>
</div>
<hr />

<a class="btn btn-primary mt-5 mb-1" href="@Url.Action("Create","Rooms",new {apartmentId = Model.Id })">Add room</a>

<table id="roomsTable" class="display" data-apartment-id="@Model.Id" data-request-url="@Url.Action("GetList", "Rooms")">
    <thead>
        <tr>
            <th>Name</th>
            <th>Room style</th>
            <th>Area</th>
            <th></th>
        </tr>
    </thead>
</table>

<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Apartments/ApartmentsEditController.js"></script>
}
